<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <title>SuperHeroes</title>
</head>

<body ng-controller="MainController">
    <h1>{{title}}</h1>


    <div class="nothing">
        <h6>{{motto}}</h6>
        <ol>
            <li ng-repeat="hero in heroes">{{hero}}</li>
        </ol>

    </div>
    <input type="text" ng-model="newAvenger" placeholder="Add your Hero">
    <button type="button" class="btn btn-primary" ng-click="addNewHero()">Click</button>
    <script type="text/javascript" src="myScripts.js"></script>
</body>

</html>
