<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <title>Edit-In-Place</title>
</head>

<body ng-controller="MainCtrl as main">


    <div class="holdMyStuff">
        <h3>Name:</h3>
        <h4 ng-hide="main.name" type="button" ng-click="main.runThis()">{{ main.namePeople }}</h4>
        <input ng-model="main.namePeople" type="text" ng-show="main.name" ng-keypress="main.enterKey($event)">
        <h3>Age:</h3>
    </div>

    <script type="text/javascript" src="myScripts.js"></script>
</body>

</html>
